<web-app xml="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Webapp1</display-name>
	<servlet>
		<servlet-name>Demo</servlet-name>
		<servlet-class>com.demo.lds.servlet.DsMenuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo</servlet-name>
		<url-pattern>/menu/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
